*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    overflow-x: hidden;
   
}

.progress-container {
    display: flex;
    align-items: center;
    width: 70vw;
    margin: 0 auto;
   
  }
  
  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 40px;
    border-radius: 50%;
    background-color: #d1d5db;
    color: white;
    z-index: 0;
  }
  
  .step.active {
    background-color: #343A40;
  }
  
  .step-line {
    flex: 1;
    width: 100px;
    height: 8px;
    background-color: #d1d5db;
    position: relative;
  }
  
  .step-line.active {
    background-color: #343A40;
  }
  
  .step-line::before {
    content: '';
    position: absolute;
    width:200px;
    height: 8px;
    background-color: #343A40;
    left: -100px;
    z-index: 0;
  }
  
  .nav {
    padding: 10px 25px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  input[type=checkbox]:checked {
    accent-color: black;
   
  }
  .logo {
    flex: 0.7;
  }
  
  .menu-icons {
    display: flex;
    align-items: center;
    z-index: 100;
  }
  
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 100;
  }
  
  .menu-icon .bar {
    width: 30px;
    height: 3px;
    background-color: #343A40;
    margin: 3px 0;
    z-index: 100;
  }
  
  .mobile-cart-icon {
    display: none;
  }
  
  .navbar {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .navbar li {
    margin-right: 20px;
    z-index: 100;
  }
  
  .navbar a {
    text-decoration: none;
    color: #343A40;
    transition: color 0.3s;
    z-index: 1;
  }
  
  .custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 10"><path d="M1 3 l6 6 l6 -6" fill="none" stroke="black" stroke-width="1.5"/></svg>') no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
    padding-right: 30px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
  }
  .borR{
    border-radius: 10px !important;
  }
  .phone .custom-select {
    padding: 0;
    width: fit-content;
    border: 0;
    background-position: right 5px center;
    padding-right: 20px;
  }
  
  .tablet .custom-select {
    padding: 0;
    width: fit-content;
    border: 0;
    background-position: right 5px center;
    padding-right: 20px;
  }
  
  
  
  @media (max-width: 1024px) {
    .margin{
      margin-left: -10px;
    }
    .nav {
      padding: 5px 15px;
    }
    .navbar a {
      text-decoration: none;
      color: white;
      transition: color 0.3s;
      z-index: 1;
    }
    .menu-icon {
      display: flex;
      z-index: 100;
    }
  
    .mobile-cart-icon {
      display: block;
      margin-left: 10px;
    }
  
    .navbar {
      display: none;
      width: 100%;
      background-color: #343A40;
      position: absolute;
      top: 80px;
      right: 0;
      padding: 30px 0;
      text-align: center;
      z-index: 100;
      color: white;
    }
  
    .navbar.active {
      display: block;
      z-index: 100;
    }
  
    .navbar ul {
      flex-direction: column;
      padding: 0;
      z-index: 100;
      align-items: center;
    }
  
    .navbar li {
      margin: 10px 0;
      z-index: 100;
    }
  
    .icons li {
      display: flex;
      align-items: center;
      gap: 8px;
      z-index: 100;
    }
  
    .icons li span {
      display: inline;
      z-index: 100;
    }
  }
  
  @media (max-width: 400px) {
    .banner {
      font-size: 11pt !important;
      padding: 5px 7px 5px 7px !important;
      gap: 5px !important;
    }
    .gaps {
      margin-top: -20px !important;
    }
  }
  /* General styles for StepProgress */
.step-line {
  position: relative;
}

@media (max-width: 1024px) {
  .step-line::before {
    width: 60px;
    left: -50px;
  }

  .gaps {
    margin-top: 50px !important;
  }
}

@media (max-width: 400px) {
  .banner {
    font-size: 11pt !important;
    padding: 5px 7px 5px 7px !important;
    gap: 5px !important;
  }
  
  .gaps {
    margin-top: -20px !important;
  }
}
.payment-method {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
  border: 1px solid #343A40;
  border-radius: 10px;
}

.payment-method input[type="radio"] {
  display: none;
}

.payment-method img {
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.payment-method input[type="radio"]:checked + img {
  border-color: #343A40;
}
